extends base

block content
        section.section-header
            div.header__hero
                div.header__hero-overlay &nbsp;
                img(class='header__hero-img' src=`${game.background_image}` alt='')
            .heading-box
                h1.heading-primary
                    span= game.name 
                div.heading-box__group
                    div.heading-box__detail
                        svg.heading-box__icon
                            i.far.fa-futbol.iconInDetails1
                        span.heading-box__text

                            ul
                                each g in game.genres
                                    li= g.name 

                    div.heading-box__detail
                        svg.heading-box__icon
                    .heading-box__detail
                        svg.heading-box__icon
                            i.fas.fa-american-sign-language-interpreting.iconInDetails1
                            if game.esrb_rating.name = 'Mature' || !game.esrb_rating.name
                                span.heading-box__text 17+ Mature
                            else 
                                span.heading-box__text= game.esrb_rating.name 

        section.section-description
            .overview-box

                div
                    div.overview-box__group
                        h2.heading-secondary.ma-bt-lg Quick facts
                        div(class='overview-box__detail facts1')
                            span(class='overview-box__label') Release date
                            span(class='overview-box__text')= game.released
                        div(class='overview-box__detail facts1')
                            span(class='overview-box__label') Metascore
                            span(class='overview-box__text metascore')= game.metacritic
                        div(class='overview-box__detail facts1')
                            span(class='overview-box__label') Publisher
                            a(href=`${game.website}` target='_blank')
                                span(class='overview-box__text')= game.publishers[0].name
                        div(class='overview-box__detail facts1')
                            span(class='overview-box__label') rating
                            span(class='overview-box__text')= `${game.rating} / 5`
                        div(class='overview-box__detail facts1')
                            span(class='overview-box__label') Platforms
                            span(class='overview-box__text')
                                div
                                    each p in game.parent_platforms
                                        span= p.platform.name
                                        span &nbsp;
                    div.overview-box__group
                        h2.heading-secondary.ma-bt-lg Reddit Connections
                        div(class='overview-box__detail facts1')
                            span(class='overview-box__label') Official Reddit Link
                            a(href=`${game.reddit_url}` target='_blank')
                                span(class='overview-box__text')= game.reddit_name 
                        div(class='overview-box__detail facts1')
                            span(class='overview-box__label') Reddit Name
                            span(class='overview-box__text')= game.reddit_name
                        div(class='overview-box__detail facts1')
                            span(class='overview-box__label') Reddit Description
                            span(class='overview-box__text')= game.reddit_description
            .description-box
                h2.heading-secondary.ma-bt-lg Description
                p(class='description__text')= `${game.description_raw}`
                    

        section.section-pictures
            .picture-box
                img(class='picture-box__img picture-box__img--1' src=`${pic.results[0].image}` alt='game image')
            .picture-box
                img(class='picture-box__img picture-box__img--2' src=`${pic.results[1].image}` alt='game image')
            .picture-box
                img(class='picture-box__img picture-box__img--3' src=`${pic.results[2].image}` alt='GTAV3')

        section.ratings
            h3 Ratings
            each r in game.ratings
                if r.id == 5
                    .textStuff
                        p= `Exceptional(${r.count})`
                        p= `${r.percent} (5⭐)`
                    .container
                        .skills(style=`width: ${r.percent}%; background-color: #04aa6d`)
                if r.id == 4
                    .textStuff
                        p= `Recommended(${r.count})`
                        p= `${r.percent} (4⭐)`
                    .container
                        .skills(style=`width: ${r.percent}%; background-color: #2196f3`)
                if r.id == 3
                    .textStuff
                        p= `Meh(${r.count})`
                        p= `${r.percent} (2+⭐)`
                    .container
                        .skills(style=`width: ${r.percent}%; background-color: orange`)
                if r.id == 1
                    .textStuff
                        p= `Skip(${r.count})`
                        p= `${r.percent} (1⭐)`
                    .container
                        .skills(style=`width: ${r.percent}%; background-color: #f44336`)


        section.section-cta
            .cta
                div(class='cta__content')
                    h2.heading-secondary Like this game?
                    p(class='cta__text')
                        | If you're logged in, click on the add to favourites button and look
                        | at your game whenever you want!
                    if(user && !fav) 
                        a(href='/login' target='_blank')
                            button.btn.favs.span-all-rows.gold Add to Favourites 
                    if(!user)
                        button.btn.favs.span-all-rows Login
                    if(fav && user)
                        button.btn.favs.span-all-rows.gold Already added to favourite 

